# ------------------------------------
# 编译和构建目录
# ------------------------------------
# Visual Studio 输出目录
**/Debug/
**/Release/
**/x64/
**/myengine/

# 编译日志和临时文件
*.tlog
*.log
*.ilk
*.obj
*.pdb
*.ipdb
*.idb
*.iobj
*.o

# ------------------------------------
# Visual Studio 特定文件
# ------------------------------------
# 解决方案用户选项
*.suo
*.user
*.ncb
*.aps

# 其他 Visual Studio 文件
*.v1[0-9].*
*.opensdf
*.sdf
*.cache
*.VC.db

# ------------------------------------
# IDE/用户配置文件
# ------------------------------------
# imgui 配置
imgui.ini

# ------------------------------------
# 其他运行时文件/输出
# ------------------------------------
# 运行时日志文件
debug.log

